@using LectureSchedulingTool.Models;

<h2>Секертные коды</h2>
<hr />
@(Html.ValidationSummary("", new { @class = "text-danger" }))

<table class="table-bordered table-condensed" align="center" width="100%">
    <thead>
        <tr>
            <td><center>№</center></td>
            <td>Код</td>
        </tr>
    </thead>
    <tbody>
        @{
            List<Secret_code> secret_codes = ViewBag.secret_codes != null ? ViewBag.secret_codes : null;

            for (int i = 0; i < secret_codes.Count; i++)
            {
                using (Html.BeginForm("SecretCode", "Manage"))
                {
                    <tr>
                        <input type="hidden" name="id_secret_code" value="@(secret_codes[i].id_secret_code)" />
                        <td><center>@(i + 1)</center></td>
                        <td>@(secret_codes[i].secret_code)</td>
                        <td width="10%"><center><button type="submit" id="remove" name="action" value="r" class="btn btn-danger"> Удалить </button></center></td>
                    </tr>
                }
            }

            using (Html.BeginForm("SecretCode", "Manage"))
            {
                <tr>
                    <td width="3%"><button type="submit" id="add" name="action" value="a" class="btn btn-info"> + </button></td>
                </tr>
            }
        }
    </tbody>
</table>
