<h2>О нас</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Немного информации о команде разработчиков</h4>
        <hr />

        <p>Здравствуйте, мы команда разработчиков SGP2 из НТУ "ХПИ" и это наш проект.</p>
    </div>
</div>