<h2>Контакты</h2>

<br /><br /><br />

Наши контакты:
<address>
    Украина, Харьков<br />
    ул. Фрунзе 21, учебный корпус №2, 7 этаж, 61000<br />
    Национальный технический университет<br />
    "Харьковский политехнический институт"<br />
    Кафедра программной инженерии и информационных технологий управления<br />
    <abbr title="Телефон">Т:</abbr>
    +38-057-707-65-20
</address>

<address>
    <strong>VK group:</strong>   <a href="https://vk.com/sigma_group_project_2">vk.com</a><br />
    <strong>Scrum board:</strong> <a href="https://trello.com/b/FnMx3nJn/lecture-scheduling-tool">trello.com</a><br />
    <strong>Google drive:</strong> <a href="https://drive.google.com/drive/folders/0B6GbQvB7Nh7TM2FXaUh1LXBpTEE">drive.google.com</a><br />
    <strong>GitHub repository:</strong> <a href="https://github.com/Sigma-Project-Group-2/">github.com</a>
</address>