@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/SpinYourDog.js" type="text/javascript"></script>

<div class="jumbotron" style="position: relative;">
    <div id="g_god_div" style="position: absolute; right: 25px; bottom: 5px; visibility: hidden;">
        <div class="text-center">
            <p id="pets">PETS: <span id="pet_count">0</span></p>
        </div>
        <div id="dog_div">
            <img id="dog" src="/Content/dog_l.png"/>
            <img src="/Content/dog_happy_l.png" style="visibility: hidden; width: 0px; height: 0px;" />
        </div>
        <audio id="dog_music" src="/Content/mus_dogsong.ogg" loop></audio>
    </div>
    <h1>Система генерации расписания</h1>
    <p class="lead">Самая лучшая, крутая и пафосная система генерации расписания сделанная на ASP.NET с использованием HTML, CSS, JavaScript и костылей.</p>
    <p><button type="button" class="btn btn-primary btn-default" onclick="dog_site.getVisible()">Тыкай сюда &raquo;</button></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>
            Мы вроде-бы пытались писать все по MVC, но вышло хреново.
            То валидаторов данных нет, но еще что-то отвалиться.
            Но мы ведь пытались...
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Генетический алгоритм</h2>
        <p>
            Еще одно чудо-слово, которым мы вас напугаем.
            Не переживайте, мы сами его пугаемся, не меньше вас.
            И кстати, его в этой системе нет...
        </p>
        <p><a class="btn btn-default" href="http://lurkmore.to/%D0%98%D0%BD%D0%B4%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D0%BE%D0%B4">Узнать меньше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure web hosting</h2>
        <p>
            Мы занимаем ресурсы драгоценные ресурсы на azure.
            Нет, чтобы отдать их для более нужных проектов, верно?
            Хотя нет, пусть лучше наш говно-код еще немного полежит здесь...
        </p>
        <p><a class="btn btn-default" href="https://portal.azure.com/">Узнать больше &raquo;</a></p>
    </div>
</div>