@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Система генерации расписания</h1>
    <p class="lead">Самая лучшая, крутая и пафосная система генерации расписания сделанная на ASP.NET с использованием HTML, CSS, JavaScript и костылей.</p>
    <p><a class="btn btn-primary btn-default" href="http://lecture-scheduling-tool.azurewebsites.net/t">Тыкай сюда &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>
            Мы вроде-бы пытались писать все по MVC, но вышло хреново.
            То валидаторов данных нет, но еще что-то отвалиться.
            Но мы ведь пытались...
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Генетический алгоритм</h2>
        <p>
            Еще одно чудо-слово, которым мы вас напугаем.
            Не переживайте, мы сами его пугаемся, не меньше вас.
            И кстати, его в этой системе нет...
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BD%D0%B5%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9_%D0%B0%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC">Узнать меньше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure web hosting</h2>
        <p>
            Мы занимаем ресурсы драгоценные ресурсы на azure.
            Нет, чтобы отдать их для более нужных проектов, верно?
            Хотя нет, пусть лучше наш говно-код еще немного полежит здесь...
        </p>
        <p><a class="btn btn-default" href="https://portal.azure.com/">Узнать больше &raquo;</a></p>
    </div>
</div>