@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При выполнении вашего запроса произошла ошибка. Повторите еще раз или обратитесь к разработчику ПО.</h2>

